flows.json
[{"id":"3d6636fb.d8061a","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"cd85c8ab.20d508","type":"function","z":"3d6636fb.d8061a","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dp\",msg.payload.dp)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"th1\",msg.payload.th1)\nglobal.set(\"th5\",msg.payload.th5)\nglobal.set(\"ic\",msg.payload.ic)\nglobal.set(\"s\",msg.payload.s)\nvar apikey=\"lpsJj-ktNxvT3yxk4mjfwUbY2FPstd3Ohe7UaxSXKfMB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":180,"wires":[["ba436095.8789a"]]},{"id":"ba436095.8789a","type":"http request","z":"3d6636fb.d8061a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":340,"wires":[["3ce44897.08d278"]]},{"id":"3ce44897.08d278","type":"function","z":"3d6636fb.d8061a","name":"Pre Prediction","func":"var co = global.get('co')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar am = global.get('am')\nvar id = global.get('id')\nvar al = global.get('al')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar me = global.get('me')\nvar bm = global.get('bm')\nvar ufd = global.get('ufd')\nvar pl = global.get('pl')\nvar te = global.get('te')\nvar dp = global.get('dp')\nvar ad = global.get('ad')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar th1 = global.get('th1')\nvar th5 = global.get('th5')\nvar ic = global.get('ic')\nvar s = global.get('s')\n\n\nvar token=msg.payload.access_token\nvar instance_id=\"173e9d75-fe2a-40f9-b92a-a02e5df85be8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{ \"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[co,ye,st,am,id,al,pe,hb,me,bm,ufd,pl,te,dp,ad,gdp,pop,th1,th5,ic,s]] }]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":440,"wires":[["a00a484d.ba3bd8"]]},{"id":"a00a484d.ba3bd8","type":"http request","z":"3d6636fb.d8061a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/96147ee3-fb3b-4db6-9294-dc19d09c09e6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":260,"wires":[["7dd56678.1c5288","57f60599.0a6bbc"]]},{"id":"7dd56678.1c5288","type":"debug","z":"3d6636fb.d8061a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"57f60599.0a6bbc","type":"function","z":"3d6636fb.d8061a","name":"","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.pyload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":220,"wires":[["ff98afab.7819d"]]},{"id":"ff98afab.7819d","type":"ui_text","z":"3d6636fb.d8061a","group":"da0d7bd3.8ad238","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":120,"wires":[]},{"id":"e6121ef6.128ec","type":"ui_form","z":"3d6636fb.d8061a","name":"","label":"Enter Values","group":"da0d7bd3.8ad238","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":false,"rows":null},{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status","value":"st","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":false,"rows":null},{"label":"Measles","value":"me","type":"number","required":false,"rows":null},{"label":"BMI","value":"bm","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"ufd","type":"number","required":false,"rows":null},{"label":"Polio","value":"pl","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"dp","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"ad","type":"number","required":false,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"th1","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"th5","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"ic","type":"number","required":false,"rows":null},{"label":"Schooling","value":"s","type":"number","required":false,"rows":null}],"formValue":{"co":"","ye":"","st":"","am":"","id":"","al":"","pe":"","hb":"","me":"","bm":"","ufd":"","pl":"","te":"","dp":"","ad":"","gdp":"","pop":"","th1":"","th5":"","ic":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":140,"wires":[["cd85c8ab.20d508"]]},{"id":"da0d7bd3.8ad238","type":"ui_group","z":"","name":"life_expectancy","tab":"65012fbe.3e486","order":1,"disp":true,"width":"6","collapse":false},{"id":"65012fbe.3e486","type":"ui_tab","z":"","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]